.MuiDataGrid-filler {
    background-color: #4B4B4B;
}

.MuiDataGrid-columnHeaderTitleContainer {
    background-color: #4B4B4B;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    color: white;
  }
  