#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
  
.logo {
    height: 6em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}
  
.card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #474747;
    border-radius: 20px;
    align-items: center;
    position: relative;
}
.card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7c7c7c;
    border-radius: 20px 20px 0px 0px;
}
  
.input-field-login {
    display: flex;
    padding: 1em;
    margin: 1em;
    margin-top: 5.5em;
}
  
.input-field-password {
    display: flex;
    padding: 1em;
    margin: 1em;
    margin-bottom: 3em;
}
  
.header-btn {
    background-color: transparent;
    color: #242424;
    font-weight: 1000;
}
.header-btn:hover {
    text-decoration: underline;
    border-color: transparent;
}
  
.separator {
    position: absolute;
    background-color: #242424;
    width: 0.2em;
    height: 3.5em;
    top: 10%;
    left: 50%;
}
  
.forgot-pw-separator-1 {
    position: absolute;
    background-color: #242424;
    width: 5em;
    height: 0.2em;
    left: 10%;
    bottom: 30%;
}
  
.forgot-pw-separator-2 {
    position: absolute;
    background-color: #242424;
    width: 5em;
    height: 0.2em;
    right: 10%;
    bottom: 30%;
}
  
.auth-btn {
    margin-top: 2em;
}
  
.forgot-btn {
    color: #242424;
    position: absolute;
    bottom: 22%;
    width: 50%;
    background-color: transparent;
    color: 242424;
    font-weight: 700;
}
.forgot-btn:hover {
    text-decoration: underline;
    border-color: transparent;
}